<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../pages/practitioner-login.html">
<link rel="import" href="../pages/practitioner-register.html">
<link rel="import" href="../practitioner-app/practitioner-home.html">

<dom-module id="practitioner-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{_isEqualTo(statusApp, 'SIN-LOGIN')}}">
      <practitioner-login on-login-ok="login" on-not-user="gotoRegister"></practitioner-login>
    </template>
    <template is="dom-if" if="{{_isEqualTo(statusApp, 'REGISTRO')}}">
      <practitioner-register on-register-ok="logout" on-goto-login="logout"></practitioner-register>
    </template>
    <template is="dom-if" if="{{_isEqualTo(statusApp, 'LOGIN-OK')}}">
      <practitioner-home on-logout-ok="logout"></practitioner-home>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PractitionerApp extends Polymer.Element {
      static get is() { return 'practitioner-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'practitioner-app'
          },
            statusApp: {
              type: String,
              value: 'SIN-LOGIN'
          }
        };
      }
      _isEqualTo(value, status) {
        return value == status;
      }
      gotoRegister() {
        this.set('statusApp', 'REGISTRO');
      }
      login() {
        this.set('statusApp', 'LOGIN-OK');
      }
      logout(){
        this.set('statusApp', 'SIN-LOGIN');
      }
    }

    window.customElements.define(PractitionerApp.is, PractitionerApp);
  </script>
</dom-module>
