<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../pages/practitioner-movements.html">
<link rel="import" href="../pages/practitioner-profile.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="practitioner-home">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgLogo{ width: 150px; height: 100px; }
      #map { height: 300px; }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <div class="navbar navbar-inverse set-radius-zero" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <img src="../../assets/img/logo.svg" class="img-fluid imgLogo" alt="TechU - Partitioner"/>
          </a>
        </div>
        <div class="right-div">
          <paper-button id="bt_logout" on-tap="logout" class="btn btn-success"> Cerrar Sesion </paper-button>
        </div>
      </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <div class="navbar-collapse collapse ">
              <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li><a href="#" class="menu-top-active">Bienvenido {{user.nombre}} </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="content-wrapper">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="alert alert-success back-widget-set text-center">
              <h3><a href="#" on-tap="_changeMenu"><paper-button on-tap="_changeMenu">Mi Perfil</paper-button></a></h3>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="alert alert-warning back-widget-set text-center">
              <h3><a href="#" on-tap="_changeMenu2"><paper-button on-tap="_changeMenu2">Mis Movimientos</paper-button></a></h3>
            </div>
          </div>
        </div>

        <template is="dom-if" if="{{_isEqualTo(menu, '00')}}">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div id="map"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" >
                  <div class="alert alert-info text-center">
                    <h3> ACERCA</h3>
                    <hr/> <i class="fa fa-warning fa-4x"></i>
                    <p>En este sitio podra encontrar la información de su usuario y el listado de sus Movimientos.</p>
                    <paper-button on-tap="initMap">Ver Ubicacion</paper-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-6">
            <template is="dom-if" if="{{_isEqualTo(menu, '01')}}">
              <practitioner-profile user="{{user}}" on-update-user-ok="_changeMenu"></practitioner-profile>
            </template>
            <template is="dom-if" if="{{_isEqualTo(menu, '02')}}">
              <practitioner-movements movements="{{movements}}" on-insert-delete-movement-ok="_changeMenu2"></practitioner-movements>
            </template>
          </div>
        </div>
      </div>
    </div>

    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            &copy; 2019 www.bbva.com.co |<a href="http://www.bbva.com.co/" target="_blank"  > Desarrollado por : Nelson Moncada - David Pardo</a>
          </div>

        </div>
      </div>
    </section>
    <iron-ajax
      id="getUser"
      url=http://localhost:3000/usuarios/{{idUser}}
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="getUserAJAXResponse"
      on-error="showError"></iron-ajax>
    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/movimientos/{{idUser}}"
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="getmovementsAJAXResponse"
      on-error="showErrorMovements"></iron-ajax>
  </template>

  <script>
    class PractitionerHome extends Polymer.Element {
      static get is() { return 'practitioner-home'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value:{}
          },
          movement: {
            type: Array
          },
          idUser: {
            type: String,
            value: ''
          },
          menu: {
            type: String,
            value:"00"
          },
          api: {
            type: Object
          },
        };
      }

      initMap() {
        var map, infoWindow;
        map = new google.maps.Map(this.shadowRoot.getElementById('map'), {
          center: {lat: 4.59808, lng: -74.0760439},
          zoom: 18
        });
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('Tu ubicación.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
              this.handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          this.handleLocationError(false, infoWindow, map.getCenter());
        }
      }

        handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ? 'Error: The Geolocation service failed.' : 'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      getUserAJAXResponse(data) {
        this.user = data.detail.response;
      }

      getmovementsAJAXResponse(data) {
        this.movements = data.detail.response;
      }

      showError(error) {
        alert('Error al consultar el usuario ( ' + error.detail.request.__data.response.error + ' )');
      }

      showErrorMovements(error) {
        alert('Error al consultar los movimientos ( ' + error.detail + ' )');
      }

      _changeMenu() {
        this.idUser = JSON.parse(localStorage.getItem('data.user')).idUser;
        this.$.getUser.generateRequest();
        this.menu= "01";
      }

      _changeMenu2() {
        this.idUser = JSON.parse(localStorage.getItem('data.user')).idUser;
        this.$.getMovements.generateRequest();
        this.menu= "02";
      }

      logout() {
        this.menu= "00";
        localStorage.clear();
        this.dispatchEvent(new CustomEvent('logout-ok'));
      }
    }

    window.customElements.define(PractitionerHome.is, PractitionerHome);
  </script>
</dom-module>
