<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="practitioner-movements">
  <template>
    <style>
    </style>
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading"> Lista de Movimientos <paper-button on-tap="addNewMovement" style="margin-left: 75%;" class="btn btn-primary">Agregar</paper-button></div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <th>Núm Movimiento</th>
                <th>Cuenta</th>
                <th>Descripción</th>
                <th>Fecha Operación</th>
                <th>Valor</th>
                <th>Opción</th>
                </thead>
                <tbody>
                <template is="dom-if" if="{{addMovement}}">
                  <tr width="100">
                    <input type="hidden" value="{{movement.idCliente}}">
                    <td style="vertical-align: middle;"><input type="text" maxlength="6" class="form-control" placeholder="Número Movimiento" value="{{movement.numMovimiento::input}}"></td>
                    <td style="vertical-align: middle;"><input type="text" maxlength="20" class="form-control" placeholder="Número Cuenta" value="{{movement.numCuenta::input}}"></td>
                    <td style="vertical-align: middle;"><input type="text" maxlength="20" class="form-control" placeholder="Descripción" value="{{movement.descripcion::input}}"></td>
                    <td style="vertical-align: middle;"><input type="date" class="form-control" placeholder="Fecha Operación" value="{{movement.fechaOperacion::input}}"></td>
                    <td style="vertical-align: middle;"><input type="text" maxlength="10" class="form-control" placeholder="Valor" value="{{movement.valor::input}}"></td>
                    <td style="vertical-align: middle;"><paper-button on-tap="saveMovement" class="btn btn-primary">Guardar</paper-button></td>
                  </tr>
                </template>
                <template is="dom-repeat" items={{movements}} as="mov">
                  <tr width="100">
                    <td style="vertical-align: middle;">{{mov.numMovimiento}}</td>
                    <td style="vertical-align: middle;">{{mov.numCuenta}}</td>
                    <td style="vertical-align: middle;">{{mov.descripcion}}</td>
                    <td style="vertical-align: middle;">{{mov.fechaOperacion}}</td>
                    <td style="vertical-align: middle;">{{mov.valor}}</td>
                    <td style="vertical-align: middle;"><paper-button on-tap="delMovement" data-args$='[[mov]]' class="btn btn-primary">Eliminar</paper-button></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iron-ajax
      id="createMovement"
      url="http://localhost:3000/movimientos"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="createMovementAJAXResponse"
      on-error="showError"></iron-ajax>
    <iron-ajax
      id="deleteMovement"
      url=http://localhost:3000/movimientos/[[movement.idMovement]]
      content-type=""
      method="DELETE"
      handle-as=""
      on-response="deleteUserAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class PractitionerMovements extends Polymer.Element {
        static get is() { return 'practitioner-movements'; }
        static get properties() {
          return {
            movements: Array,
            movement: {
              type: Object,
              value:{}
            },
            addMovement: {
              type: Boolean,
              value: false
            }
          };
        }

        saveMovement() {
          this.set('movement.idCliente', JSON.parse(localStorage.getItem('data.user')).idUser);
          this.$.createMovement.body = JSON.stringify(this.movement);
          this.$.createMovement.generateRequest();
          this.addNewMovement();
        }

        addNewMovement(){
          this.set('addMovement', !this.addMovement);
        }

        createMovementAJAXResponse(data) {
          this.dispatchEvent(new CustomEvent('insert-delete-movement-ok'));
        }

        showError(error) {
          console.log("Error Movements: " + error);
        }

        delMovement(e){
          var val = e.model.__data.mov;
          this.movement = {
            "idMovement" : val.numMovimiento
          }
          this.$.deleteMovement.generateRequest();
        }

        deleteUserAJAXResponse(data) {
            this.dispatchEvent(new CustomEvent('insert-delete-movement-ok'));
        }
      }

      window.customElements.define(PractitionerMovements.is, PractitionerMovements);
  </script>
</dom-module>
