<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<dom-module id="practitioner-login">
  <template>
    <style>
    </style>

    <link href="../../assets/css/loginRegister.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div>
      <div class="sidenav">
        <div class="login-main-text">
          <img class="card-img-top" src="../../assets/img/logo-blanco.png" alt="">
          <br/><br/>
          <p>Bienvenido al portal TECH U, portal enfocado en los movimientos realizados por cada uno de nuestros
            usuarios.</p>
        </div>
      </div>
      <div class="main">
        <div class="col-md-6 col-sm-12">
          <div class="login-form">
            <div class="form-group">
              <label>Usuario</label>
              <input type="text" maxlength="10" class="form-control" placeholder="Ingrese su usuario" value="{{user::input}}">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" maxlength="8" class="form-control" placeholder="Ingrese su password" value="{{password::input}}">
            </div>
            <paper-button raised id="bt_loginr" on-tap="login" class="btn btn-primary"> Ingresar</paper-button>
            <paper-button raised id="bt_register" on-tap="gotoRegister" class="btn btn-primary"> Registrarme
            </paper-button>
          </div>
        </div>
      </div>
    </div>

    <app-localstorage-document
      key="data.user"
      data="{{infoUser}}"></app-localstorage-document>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="loginAJAXResponse"
      on-error="showErrorLogin"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PractitionerLogin extends Polymer.Element {
      static get is() {
          return 'practitioner-login';
      }

      static get properties() {
        return {
          user: {
            type: String,
            notify: true,
          },
          password: {
            type: String,
            notify: true
          },
          infoUser: {
            type:Object
          }
        };
      }

      login() {
        localStorage.clear();
        var loginData = { "documento" : this.user, "clave" : this.password };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }

      loginAJAXResponse(data) {
        this.infoUser = {
          "idUser": data.detail.response.idUser,
          "nombre": data.detail.response.nombre,
          "isLogin": "OK",
        }
        this.dispatchEvent(new CustomEvent('login-ok'));
      }

      showErrorLogin(error) {
        alert('Los datos ingresados son incorrectos ( ' + error.detail.request.__data.response.error + ' )');
      }

      gotoRegister() {
        this.dispatchEvent(new CustomEvent('not-user'));
      }
    }

    window.customElements.define(PractitionerLogin.is, PractitionerLogin);
  </script>
</dom-module>
