<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="practitioner-profile">
  <template>
    <style>
    </style>
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading"> <span>Detalle de mi perfil </span></div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <tbody>
                  <tr width="100">
                    <td style="vertical-align: middle;">Codigo Usuario</td>
                    <td style="vertical-align: middle;">{{user.usuario}}</td>
                  </tr>
                  <tr width="100">
                    <td style="vertical-align: middle;">Número Documento</td>
                    <td style="vertical-align: middle;">{{user.documento}}</td>
                  </tr>
                  <tr width="100">
                    <td style="vertical-align: middle;">Nombre</td>
                    <template is="dom-if" if="{{!_isEdit}}">
                      <td style="vertical-align: middle;">{{user.nombre}}</td>
                    </template>
                    <template is="dom-if" if="{{_isEdit}}">
                      <input type="text" class="form-control" maxlength="20" value="{{userEdit.nombre::input}}" required>
                    </template>
                  </tr>
                  <tr width="100">
                    <td style="vertical-align: middle;">Apellido</td>
                    <template is="dom-if" if="{{!_isEdit}}">
                      <td style="vertical-align: middle;">{{user.apellido}}</td>
                    </template>
                    <template is="dom-if" if="{{_isEdit}}">
                      <input type="text" class="form-control" maxlength="20" value="{{userEdit.apellido::input}}" required>
                    </template>
                  </tr>
                  <tr width="100">
                    <td style="vertical-align: middle;">Telefono</td>
                    <template is="dom-if" if="{{!_isEdit}}">
                      <td style="vertical-align: middle;">{{user.telefono}}</td>
                    </template>
                    <template is="dom-if" if="{{_isEdit}}">
                      <input type="text" class="form-control" maxlength="10" value="{{userEdit.telefono::input}}" required>
                    </template>
                  </tr>
                  <tr width="100">
                    <td style="vertical-align: middle;">Editar</td>

                    <td style="vertical-align: middle;">
                      <template is="dom-if" if="{{!_isEdit}}">
                        <paper-button raised id="bt_edit" on-tap="editProfile" class="btn btn-primary">Editar</paper-button>
                      </template>
                      <template is="dom-if" if="{{_isEdit}}">
                        <paper-button raised id="bt_save" on-tap="updateProfile" class="btn btn-primary">Guardar</paper-button>
                        <paper-button raised id="bt_cancel" on-tap="editProfile" class="btn btn-primary">Cancelar</paper-button>
                      </template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iron-ajax
      id="updateUser"
      url=http://localhost:3000/usuarios/{{idUser}}
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="updateUserAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PractitionerProfile extends Polymer.Element {
      static get is() { return 'practitioner-profile'; }
      static get properties() {
        return {
          idUser: {
              type: String,
              value: ''
          },
          _isEdit: {
            type: Boolean,
            value: false
          },
          user: {
            type: Object
          },
          userEdit: {
            type: Object
          },
        };
      }

      editProfile() {
        this.set('userEdit', this.user);
        this.set('_isEdit', !this._isEdit);
      }

      updateProfile() {
        this.idUser = JSON.parse(localStorage.getItem('data.user')).idUser;
        this.$.updateUser.body = JSON.stringify(this.userEdit);
        this.$.updateUser.generateRequest();
      }

      updateUserAJAXResponse(data) {
        this.dispatchEvent(new CustomEvent('update-user-ok'));
        alert('Guardado');
        this.editProfile();
      }

      showError(error) {
        alert('Error al consultar el usuario ( ' + error.detail.request.__data.response.error + ' )');
      }
    }

    window.customElements.define(PractitionerProfile.is, PractitionerProfile);
  </script>
</dom-module>
