<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="practitioner-register">
  <template>
    <link href="../../assets/css/loginRegister.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      .login-form { margin-top: 30% !important;}
    </style>
    <div>
      <div class="sidenav">
        <div class="login-main-text">
          <img class="card-img-top" src="../../assets/img/logo-blanco.png" alt="">
          <br/><br/>
          <p>Bienvenido al portal TECH U, portal enfocado en los movimientos realizados por cada uno de nuestros usuarios.</p>
        </div>
      </div>
      <div class="main">
        <div class="col-md-6 col-sm-12">
          <div class="login-form">
            <div class="form-group">
              <label>Documento</label>
              <input type="text" maxlength="10" class="form-control" placeholder="Ingrese su Documento" value="{{user.documento::input}}">
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" maxlength="20" class="form-control" placeholder="Ingrese su Nombre" value="{{user.nombre::input}}">
            </div>
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" maxlength="20" class="form-control" placeholder="Ingrese su Apellido" value="{{user.apellido::input}}">
            </div>
            <div class="form-group">
              <label>Telefono</label>
              <input type="text" maxlength="10" class="form-control" placeholder="Ingrese telefono" value="{{user.telefono::input}}">
            </div>
            <div class="form-group">
              <label>Usuario</label>
              <input type="text" maxlength="10" disabled="disabled" class="form-control" placeholder="usuario" value="[[user.documento]]">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" maxlength="8" class="form-control" placeholder="Ingrese su contraseña" value="{{user.clave::input}}">
            </div>
            <paper-button raised id="bt_loginr" on-tap="gotoLogin" class="btn btn-primary"> Volver </paper-button>
            <paper-button raised id="bt_register" on-tap="register" class="btn btn-primary"> Registrarme </paper-button>
          </div>
        </div>
      </div>
    </div>
    <iron-ajax
      id="createUser"
      url=[[urlUser]]
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="createUserAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class PractitionerRegister extends Polymer.Element {
        static get is() { return 'practitioner-register'; }
        static get properties() {
          return {
            urlUser: {
              type: String,
              value: 'http://localhost:3000/usuarios/'
            },
            user: {
              type: Object,
              value:{}
            }
          };
        }
        register() {
          if(this.user.documento == undefined || this.user.nombre == undefined || this.user.apellido == undefined ||
              this.user.telefono == undefined || this.user.clave == undefined) {
            alert('Todos los campos son obligatorios');
          } else {
            this.$.createUser.body = JSON.stringify(this.user);
            this.$.createUser.generateRequest();
          }
        }

        createUserAJAXResponse(data){
          this.dispatchEvent(new CustomEvent('register-ok'));
        }

        showError(error){
          alert('Error al dar de alta el usuario ( ' + error.detail.request.__data.response.error + ' )');
        }

        gotoLogin() {
          this.dispatchEvent(new CustomEvent('goto-login'));
        }
      }

      window.customElements.define(PractitionerRegister.is, PractitionerRegister);
  </script>
</dom-module>
